/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






html{
	scroll-behavior: smooth;
}

body{
	background: #0b111e;
}





/* header section */
.header {
  position: fixed;
	top: 0; left: 0; right: 0;
	display: flex;
	align-items: center;
	background: #000;
	padding: 0 7%;
	z-index: 1000;
  .logo{
    padding: 16px 0;
    margin-right: auto;
    color: #ff8a00;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 2px;
  }
  .icons{
    margin-left: 2rem;
    #user-btn,#search-btn{
      color:#ba0202;
      font-size: 24px;
      margin-left: 12px;
      cursor: pointer;
      transition: .3s;
      &:hover{
        color: #F1DEDE;
      }
    }
    #user-btn{
      position: relative;
      .user-menu{
        position: absolute;
        top: 30px;
        right: 12px;
        min-width: 97px;
        background: #ba0202;
        text-align: center;
        display: block;
        border-radius: 10px 0 10px 10px;
        opacity: 90%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .3s;
        z-index: 100;
        &.active{
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
        li{
          border-bottom: 1px solid rgba(255, 255, 255, 0.427);
          &:last-child{
            border-bottom: none;
          }
          a{
            color: #fff;
            text-decoration: none;
            line-height: 30px;
            font-size: 16px;
            display: flex;
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
  .search-form{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #000;
    padding: 10px 12%;
    opacity: 90%;
    border-top: 2px solid rgb(27, 23, 23);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: .3s;
    &.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    form{
      display: flex;
      input{
        width: 100%;
        outline:medium;
        margin-right: 10px;
      }
      button{
        border: none;
        background: none;
        cursor: pointer;
        align-items: center;
        i{
          font-size: 20px;
          color: #ba0202;
        }
        &:hover{
          i{
            color: #fff;
          }
        }
      }
    }
  }
}
/* header section */




/* login section */
.login-container{
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.395);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  .login-form{
    position: relative;
    background: rgba(0, 0, 0, 0.66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 86px 0 25px;
    border-radius: 10px;
    h2{
      font-size: 32px;
      color: #fff;
      line-height: 38.4px;
      margin-bottom: 17px;
      font-weight: bolder;
    }
    .input{
      width: 414px;
      height: 37px;
      margin: 0 96px;
      font-size: 16px;
      padding-left: 14px;
      outline:medium;
      border: none;
      &::placeholder{
        font-size: 16px;
        color: rgb(91, 91, 91);
      }
    }
    .login-errorMessage{
      color: #ff0000;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      text-align: left;
      width: 414px;
      padding-left: 14px;
    }
    .login-btn{
      width: 428px;
      // height: 37px;
      text-align: center;
      background: #ba0202;
      color: #fff;
      border: none;
      margin-bottom: 24px;
      transition: .3s;
      cursor: pointer;
      padding: 12px 0;
      &:hover{
        background: #F1DEDE;
        color: #ba0202;
      }
    }
    a{
      margin-bottom: 15px;
      color: #fff;
      font-size: 12px;
      text-decoration: none;
      transition: .3s;
      &:hover{
        color: #ba0202;
      }
    }
  }
  #close-btn{
    position: absolute;
    font-size: 3rem;
    color: #ba0202;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    transition: .3s;
    &:hover{
      transform: rotate(90deg);
      color: #F1DEDE;
    }
  }
}
/* login section */




/* banner section */
.banner{
	display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
  width: 100%;
	height: 530px;
  img{
    position: absolute;
    top: 0; left: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 80%;
  }
  .content{
    width: 100%;
    background: rgba(0, 0, 0, 0.646);
    position: relative;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    span{
      position: absolute;
      top: -30px;
      left: 10%;
      color: #fff;
      font-size: 40px;
      line-height: 57px;
      font-weight: bold;
    }
    h1{
      color: #ff8a00;
      font-size: 96px;
      font-weight: bolder;
      margin: 70px 0;
      letter-spacing: 2px;
    }
    a{
      position: absolute;
      bottom: -10px;
      left: auto;
      right: auto;
      background: #ba0202;
      color: #fff;
      font-size: 20px;
      width: 350px;
      text-align: center;
      padding: 6px 0;
      text-decoration: none;
      border-radius: 5px;
      transition: .3s;
      &:hover{
        font-size: 24px;
        bottom: -13px;
      }
    }
  }
}
/* banner section */


/* intro section */
.intro{
	display: flex;
	padding: 64px 0;
  img{
    width:526px;
    margin-left: 13%;
    margin-right: 8%;
  }
  .content{
    color: #fff;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
      font-size: 32px;
      line-height: 38.4px;
      margin-bottom: 21px;
    }
    p{
      font-size: 20px;
      line-height: 30px;
    }
  }
}
/* intro section */



/* multiple platform section */
.platform{
	background: #000;
	text-align: center;
	padding: 64px 0;
  .content{
    color: #fff;
    h2{
      font-size: 32px;
      line-height: 38.4px;
      margin-bottom: 21px;
    }
    p{
      font-size: 20px;
      line-height: 30px;
    }
  }
  .pic{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 37px;
    .computer{
      width: 204px;
      height: 221px;
    }
    .notebook{
      width: 221px;
      height: 178px;
    }
    .pad{
      width: 216px;
      height: 167px;
    }
    .phone{
      width: 98px;
      height: 155px;
    }
  }
}
/* multiple platform section */





/* subscribe section */
.subscribe{
	display: flex;
	padding: 48px 0;
	justify-content: space-evenly;
  .card{
    position: relative;
    img{
      width: 306px;
    }
    .content{
      position: absolute;
      top: 0; left: 0;
      background: rgba(0,0,0,.5);
      color: #fff;
      width: 100%;
      height: 100%;	
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: .3s;
      h2{
        font-size: 32px;
        line-height: 38.4px;
        margin-bottom: 29px;
        font-weight: bolder;
      }
      span{
        font-size: 24px;
        font-weight: 200;
        letter-spacing: 5px;
        margin-bottom: 29px;
      }
      a{
        text-decoration: none;
        background: #ba0202;
        margin: 0 90px;
        font-size: 20px;
        color: #fff;
        border-radius: 5%;
        padding: 6px 0;
        transition: .3s;
        &:hover{
          background: #F1DEDE;
          color: #ba0202;
        }
      }
      &:hover{
        background: rgba(0,0,0,.7);
      }
    }
  }
}
/* subscribe section */





/* footer section */
.footer {
  text-align: center;
	background: #000;
	padding: 50px 0;
  .icon{
    i{
      font-size: 30px;
      margin: 0 14px;
      color: #ba0202;
      margin-bottom: 34px;
      transition: .3s;
      &::before{
        background: #F1DEDE;
        padding: 5px;	
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transition: .3s;
      }
      &:hover{
        color: #F1DEDE;
        &::before{
          background:#ba0202;
        }
      }
    }
  }
  .copyright{
    color: #fff;
    font-size: 14px;
    p{
      letter-spacing: 2px;
      margin-bottom: 20px;
      span{
        color: #ff8a00;
      }
    }
  }
}
/* footer section */
